/* ------------------ ID ------------------ */
#header {
	margin-bottom: 20px;
	font-size: 36px;
	font-weight: bold;
}
#text-gray {
	color: #aaa;
}

/* ---------------- Class ----------------- */
.header {
	margin-bottom: 20px;
	font-size: 36px;
	font-weight: bold;
}
.text-gray {
	color: #aaa;
}

/* ----------------- Tag ------------------ */
h1 {
	margin-bottom: 20px;
	font-size: 36px;
	font-weight: bold;
}
p {
	color: #aaa;
}
ul {
	list-style: none;
	padding: 0;
}

/* --------------- Pseudo ----------------- */
li:first-child {
	font-weight: bold;
}
li:last-child {
	font-weight: bold;
}
li:nth-child(even) {
	background-color: #eee;
}
li:nth-child(odd) {
	background-color: #fff;
}